body {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
input {
  background: #ebfffc;
  width: 500px;
  text-align: center;
  font-size: 15px;
  padding: 8px 25px;
  border: 0;
  gap: 10%;
  border-radius: 30px;
}

button {
  font-size: 1rem;
  padding: 8px 24px;
  border: none;
  gap: 10%;
  background-color: #51829b;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

.container {
  width: 2000px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
}

.animation {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.form {
  margin-bottom: 10px;
}
