@font-face {
  font-family: 'Heavitas';
  src: url('../src/assets/fonts/Heavitas.ttf') format('truetype');
}
:root {
  /* Colors */
  --color-primary: #eadfb4;
  --color-secondary: #9bb0c1;
  --color-tertiary: #51829b;
  --color-quaternary: #f6995c;
  --toastify-font-family: 'Inter', sans-serif;
  --toastify-font-size: 10px;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-primary);
  width: auto;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span {
  font-family: 'Heavitas';
  color: var(--color-tertiary);
  font-size: 75px;
}
